<div class="trust-badges-container">
  <!-- Payment Icons Row -->
  {% comment %} <div class="payment-icons-row">
    <img src="https://raw.githubusercontent.com/activemerchant/payment_icons/master/app/assets/images/payment_icons/paypal.svg" alt="PayPal" width="40" height="25" loading="lazy">
    <img src="https://raw.githubusercontent.com/activemerchant/payment_icons/master/app/assets/images/payment_icons/klarna.svg" alt="Klarna" width="40" height="25" loading="lazy">
    <img src="https://raw.githubusercontent.com/activemerchant/payment_icons/master/app/assets/images/payment_icons/master.svg" alt="Mastercard" width="40" height="25" loading="lazy">
    <img src="https://raw.githubusercontent.com/activemerchant/payment_icons/master/app/assets/images/payment_icons/visa.svg" alt="Visa" width="40" height="25" loading="lazy">
    <img src="https://raw.githubusercontent.com/activemerchant/payment_icons/master/app/assets/images/payment_icons/american_express.svg" alt="American Express" width="40" height="25" loading="lazy">
    <img src="https://raw.githubusercontent.com/activemerchant/payment_icons/master/app/assets/images/payment_icons/apple_pay.svg" alt="Apple Pay" width="40" height="25" loading="lazy">
  </div> {% endcomment %}

  <!-- Trust Messages Row -->
  <div class="trust-messages-row">
    <div class="trust-icons-row">
      <div class="trust-icon">
        <img src="https://cdn.shopify.com/s/files/1/0833/7391/6508/files/local_shipping_24dp_000000_FILL0_wght400_GRAD0_opsz24_fa8def13-a787-4bf3-bf34-83e21df19727.svg?v=1729857822" alt="Shipping" width="24" height="24">
      </div>
      <div class="trust-icon">
        <img src="https://cdn.shopify.com/s/files/1/0833/7391/6508/files/return.png?v=1732142623" alt="Returns" width="24" height="24">
      </div>
      <div class="trust-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <i class="material-icons" style="font-size: 24px;">no_encryption</i>
      </div>
    </div>
    <div class="trust-labels-row">
      <div class="trust-label">
        <span>Ships every Thursday/Friday</span>
      </div>
      <div class="trust-label">
        <span>Money Back Guarantee (1st order)</span>
      </div>
      <div class="trust-label">
        <span>No Lock-In</span>
      </div>
    </div>
  </div>
</div>